extends Layout

block head
    link(rel="stylesheet" href="/css/bookingSuccess.css")

block content
    main.container
        .booking-success-container
            .success-icon Success!
            h2 Booking Successful!
            p.success-message= message
            a.btn-view-lessons(href="/my_lessons") View My Lessons
            a.btn-secondary.btn-browse-tutors(href="/tutors") Browse More Tutors
