extends layout

block head
    link(rel="stylesheet" href="/css/dashboard.css")

block content
    main.dashboard-container
        .dashboard-header
            h1 Admin Dashboard
            p Welcome, #{user.full_name}!

        .dashboard-content
            .dashboard-grid
                .dashboard-card
                    .card-icon USERS
                    h3 Total Users
                    p #{stats.users} Users
                    a.btn-secondary(href="/admin/users") Manage Users

                .dashboard-card
                    .card-icon TUTORS
                    h3 Total Tutors
                    p #{stats.tutors} Tutors
                    a.btn-secondary(href="/admin/users?role=tutor") Manage Tutors

                .dashboard-card
                    .card-icon STUDENTS
                    h3 Total Students
                    p #{stats.students} Students
                    a.btn-secondary(href="/admin/users?role=tutee") Manage Students

            .dashboard-section
                h2 System Management
                .admin-menu
                    a.admin-btn(href="/admin/users") Manage All Users
                    a.admin-btn(href="/admin/approve-tutors") Approve Tutors


