extends Layout

block head
    link(rel="stylesheet" href="/css/error.css")

block content
    main.error-container
        h1.error-code 404
        h2 Page Not Found
        p.tagline Sorry, the page you are looking for doesn't exist.
        a.cta-btn(href="/") Back to Home
