extends site-layout
block content
    header
        .logo Dracarys
        nav
            ul
                li
                    a.active(href="/") Home
                li
                    a(href="/about") About
    main
        section.hero
            h1 Ignite Your Potential
            p We are a team of passionate developers building the future of software. Join us on our journey to create something extraordinary.
            a.btn(href="/about") Meet the Team
    footer
        p &copy; 2026 Dracarys Team. All rights reserved.
block scripts
    script(src="/script.js")
