extends layout

block head
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/css/loginpage.css")

block content
    .main-content
        h1.hero-title Lets stand for free education together
        .login-container
            h2 Welcome Back
            if error
                .error-message= error
            form#loginForm(action="/login" method="POST")
                .input-group
                    label(for="email") Email Address
                    input#email(type="email" name="email" placeholder="Enter your email" required)
                .input-group
                    label(for="password") Password
                    input#password(type="password" name="password" placeholder="Enter your password" required)
                button.login-btn(type="submit") Sign In
            .extra-links
                p
                    a(href="#") Forgot Password?
                p
                    a(href="/signup") Create Account

