nav.navbar
    .logo Dracarys
    ul
        li
            a(href="/") Home
        li
            a(href="/about") About
        li
            a(href="/login") Login
        li
            a.btn-nav(href="/signup") Sign Up
